@using Reddit.Controllers
@inherits RazorLight.TemplatePage<(string op, Reddit.Controllers.Comment comment)>

<li>
    @Raw(Model.comment.BodyHTML)
    <footer class="@(Model.comment.Author == Model.op ? "op" : "")">@Model.comment.Author</footer>
    <ol>
        @foreach (var reply in Model.comment.replies?.Where(reply => reply is not null) ?? Enumerable.Empty<Comment>())
        {
            await IncludeAsync("Templates.Partials.NumberComments", (Model.op, reply));
        }
    </ol>
</li>