# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
env/

# IDE
.idea
*.iml

settings.cfg
web.config
web.debug.config
ptvs_virtualenv_proxy.py

# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Bb]in/
[Oo]bj/

# Publish Web Output
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
