Flask==0.12.1
Flask-WTF==0.13.1
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
praw==4.1.0
requests==2.12.4
six==1.10.0
smtpapi==0.3.1
unittest2py3k==0.5.1
update-checker==0.12
Werkzeug==0.12.1
WTForms==2.1
