Flask==0.12.2
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
praw==4.5.1
requests==2.14.2
six==1.10.0
smtpapi==0.3.1
unittest2py3k==0.5.1
update-checker==0.12
Werkzeug==0.12.2
WTForms==2.1
