Flask==0.10.1
Flask-WTF==0.12
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.6
MarkupSafe==0.23
praw==3.4.0
requests==2.9.1
six==1.10.0
smtpapi==0.3.1
unittest2py3k==0.5.1
update-checker==0.11
Werkzeug==0.11.9
WTForms==2.1
