{% extends "master.html" %}

{% block content %}
    <!-- Begin page content -->
    <header class="intro-header" style="background-image: url({{ url_for('static', filename='img/bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>reddit2kindle</h1>
                        <hr class="small">
                        <span class="subheading">Send reddit directly to your kindle</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body alert">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-text" id="modalLabel"></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="alert alert-warning alert-dismissible hidden" id="about" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Add reddit2kindle to your approved kindle senders list</strong>
            <ol>
                <li>Visit <a href="http://www.amazon.com/myk#pdocsSettings">Personal Document Settings</a> at <a href="http://www.amazon.com/myk">Manage Your Kindle</a>.</li>
                <li>Under "Approved Personal Document E-mail List" click on "Add a new approved e-mail address".</li>
                <li>Add "convert@reddit2kindle.com" and select "Add Address".</li>
            </ol>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsePost" aria-expanded="true"
                   aria-controls="collapsePost">
                    <div class="panel-heading with-marker" role="tab" id="headingPost">
                        <h4 class="panel-title">
                            <i class="fa fa-chevron-down"></i>
                            Post
                        </h4>
                    </div>
                </a>

                <div id="collapsePost" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPost">
                    <div class="panel-body">
                        <form id="post">
                            {{ post.csrf_token }}
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    {{ post.submission.label }}
                                    {{ post.submission(class="form-control", placeholder="https://www.reddit.com/comments/92dd8/test_post_please_ignore") }}
                                </div>
                            </div>
                            <div class="row control-group comments">
                                <div class="form-group col-xs-6 floating-label-form-group controls">
                                    {{ post.comments.label }}
                                    {{ post.comments(class="checkbox", checked="checked") }}
                                </div>
                                <div class="form-group col-xs-6 floating-label-form-group controls">
                                    {{ post.comments_style.label }}
                                    {{ post.comments_style(class="btn") }}
                                </div>
                            </div>

                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    {{ post.email.label }}
                                    <div class="input-group">
                                        {{ post.email(class="form-control", placeholder="johnsmith") }}
                                        <div class="input-group-btn">{{ post.kindle_address(class="btn") }}</div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg"
                                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Converting...">
                                Convert
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapeSubreddit"
                   aria-expanded="false" aria-controls="collapeSubreddit">
                    <div class="panel-heading with-marker" role="tab" id="headingSubreddit">
                        <h4 class="panel-title">
                            <i class="fa fa-chevron-up"></i>
                            Subreddit
                        </h4>
                    </div>
                </a>

                <div id="collapeSubreddit" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingSubreddit">
                    <div class="panel-body">
                        <form id="subreddit">
                            {{ subreddit.csrf_token }}
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    {{ subreddit.subreddit.label }}
                                    {{ subreddit.subreddit(class="form-control", placeholder="AskReddit") }}
                                </div>
                            </div>
                            <div class="row control-group comments">
                                <div class="form-group col-xs-6 floating-label-form-group controls">
                                    {{ post.comments.label }}
                                    {{ post.comments(class="checkbox", checked="checked") }}
                                </div>
                                <div class="form-group col-xs-6 floating-label-form-group controls">
                                    {{ post.comments_style.label }}
                                    {{ post.comments_style(class="btn") }}
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    {{ subreddit.time.label }}
                                    {{ subreddit.time(class="form-control", placeholder="all") }}
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    {{ subreddit.limit.label }}
                                    {{ subreddit.limit(class="form-control", placeholder="10", type="number", min="0", max="25") }}
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    {{ subreddit.email.label }}
                                    <div class="input-group">
                                        {{ subreddit.email(class="form-control", placeholder="johnsmith") }}
                                        <div class="input-group-btn">{{ subreddit.kindle_address(class="btn") }}</div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg"
                                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Converting...">
                                Convert
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}