{% extends "master.html" %}

{% block content %}
    <!-- Begin page content -->
    <header class="intro-header" style="background-image: url({{ url_for('static', filename='img/bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>reddit2kindle</h1>
                        <hr class="small">
                        <span class="subheading">Send any reddit post directly to your kindle</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <form id="single">
            {{ form.csrf_token }}
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    {{ form.submission.label }}
                    {{ form.submission(class="form-control", placeholder="https://www.reddit.com/comments/92dd8/test_post_please_ignore") }}
                </div>
            </div>

            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    {{ form.email.label }}
                    <div class="input-group">
                        {{ form.email(class="form-control", placeholder="johnsmith") }}
                        <span class="input-group-addon">@kindle.com</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Converting...">Convert</button>
        </form>
    </div>

{% endblock %}