<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Send reddit directly to your kindle">
    <meta name="author" content="">

    <title>reddit2kindle</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS Libraries -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/reddit2kindle.css') }}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">reddit2kindle</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="facebook"><a
                                onclick="window.open('//www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href)); return false;"><i
                                class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>
                        <li id="twitter"><a
                                onclick="window.open('//twitter.com/intent/tweet?url='+encodeURIComponent(location.href)); return false;"><i
                                class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
                        <li id="google-plus"><a
                                onclick="window.open('//plus.google.com/share?url='+encodeURIComponent(location.href)); return false;"><i
                                class="fa fa-google-plus-square fa-lg"></i> Google+</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="https://www.reddit.com/message/compose/?to=Jammie1&subject=reddit2kindle"><i
                                    class="fa fa-reddit fa-lg"></i> Reddit</a>
                        </li>
                        <li><a href="https://github.com/JamieMagee/reddit2kindle"><i class="fa fa-github fa-lg"></i>
                            Github</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<!-- JS Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/reddit2kindle.js') }}"></script>
<script src="{{ url_for('static', filename='js/ga.js') }}"></script>

</body>
</html>
